node_modules
**/node_modules
dist
**/dist
**/.tsbuildinfo
*.tsbuildinfo
.env
.env.*
**/.env
**/.env.*
!**/.env.example
apps/backend/src/generated
.git
.claude
.vscode
.idea
*.log
**/*.log
coverage
.eslintcache
